@charset "UTF-8";

@mixin box-shadow($x, $y, $blur: 5px, $spread: 0) {
    -webkit-box-shadow: $x $y $blur $spread rgba(34, 60, 80, 0.2);
    -moz-box-shadow: $x $y $blur $spread rgba(34, 60, 80, 0.2);
    box-shadow: $x $y $blur $spread rgba(34, 60, 80, 0.2);
}
